/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
html, body {
  font-size: large;
}

body {
  background-image: url("./assets/images/1_FFYtzf28XKPFBdknfXf-jg.jpeg");
  background-size: cover;
  height: 760px;
}
